<div class="team-clusters">
  <% if team.clusters.count.zero? %>
    <div class="text-center p-3">
      <p class="lead">
        This team has no clusters at the moment.
      </p>
    </div>
  <% end %>
</div>
