<div class="team-projects">
  <div class="list-group list-group-flush border-top">
    <% team.projects.each do |project| %>
      <div class="list-group-item">
        <h3 class="h6 mb-0">
          <%= link_to project_path(project) do %>
            <%= project_icon %>
            <%= project.name %>

            <small class="badge badge-info ml-2 text-monospace">
              <%= project.slug %>
            </small>
          <% end %>
        </h3>
      </div>
    <% end %>
  </div>
</div>
