<h1>Users</h1>


<table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Access</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td>
                    <% if user.name.present? %>
                        <%= user.name %>
                    <% end %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <% if user.admin? %>
                      <span class="badge badge-pill badge-success">
                        Admin
                      </span>
                    <% else %>
                    <span class="badge badge-pill badge-secondary">
                      User
                    </span>
                    <% end %>
                </td>
                <td>
                    <% if current_user.admin? %>
                        <% if user.admin? %>
                          <%= update_user_role_link 'Revoke Admin', user, :user %>
                        <% else %>
                          <%= update_user_role_link 'Make Admin', user, :admin %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
