<div class="activity-stream">
  <ul class="list-group list-group-flush">
    <% if activity.present? %>
      <% activity.each do |a| %>
        <% begin %>
          <% partial = "activity/entries/#{a.auditable_type.underscore}" %>
          <%= render partial: partial, locals: { a: a } %>
        <% rescue => e %>
          <%
            logger.error [
              "Failed to render activity stream entry for audit entry #{a.id}",
              "- auditable: type '#{a.auditable_type}', ID: '#{a.auditable_id}', descriptor: '#{a.auditable_descriptor}'",
              " - error: #{e.message}"
            ].join(' ')
          %>

          <% if Rails.env.development? %>
            <li class="list-group-item text-danger">
              [development mode only]
              Failed to render this activity entry:
              <%= e.message %>
            </li>
          <% end %>
        <% end %>
      <%- end -%>
    <% else %>
      <li class="list-group-item text-center none-text">
        No activity yet
      </li>
    <% end %>
  </ul>
</div>
