#sidebar {
  max-width: $sidebar-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: $navbar-height 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - #{$navbar-height});
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    @extend .pt-2;
  }

  hr {
    @extend .my-2;
  }

  .sidebar-heading {
    @extend .py-2;
    @extend .pl-2;
    @extend .mb-1;
    margin-right: 1px;
    margin-top: -1 * map-get($spacers, 2);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    border-bottom: 1px dotted $border-color;
    background: $gray-200;
  }

  .sidebar-item {
    @extend .py-1;
    @extend .text-muted;
    font-size: .85rem;
    text-transform: uppercase;

    .btn-sm {
      font-size: 0.75em;
    }
  }

  .nav-link {
    @extend .pl-3;
    @extend .py-1;
    font-weight: 500;
    color: $blue-light;

    &:hover, &:hover i{
      color: darken($blue-light, 15%);
    }
    &:hover{
      text-decoration: underline;
    }
    &.active {
      color: $primary;
      .fas,
      .fab {
        color: $primary;
      }
    }
  }

  .fas,
  .fab {
    color: $blue-light;
    margin-right: 0.3em;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
