<h1>
  Request a new
  <%= @resource_type[:name].singularize.downcase -%>
  for <%= @project.name -%> space
</h1>

<%= render 'form',
    resource_type: @resource_type,
    integrations: @integrations,
    resource: @resource,
    service_classes: @service_classes,
    service_plans: @service_plans || nil,
    service_plan_schema: @service_plan_schema || nil
%>
